#square {
    height: 50px;
    width: 50px;
    background-color: rgb(201, 200, 200);
    border: solid 2px rgb(129, 129, 129);
  }

input{
  width: 75px;
}
  
button{
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    border-top: solid 2px rgb(129, 129, 129);
    border-left: solid 2px rgb(129, 129, 129);
    border-right: solid .5px white;
    border-bottom: solid .5px white;
  }
  
#grid{
width: min-content;
    display: grid;
    grid-template-columns: "";
};
