#square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }

input{
  width: 75px;
}
  
button{
    height: 25px;
    width: 25px;
    border: solid .25px rgb(129, 129, 129);
    
  }
  
#grid{
width: min-content;
    display: grid;
    grid-template-columns: "";
};
